/* PP Editorial Old Font Faces */

@font-face {
  font-family: 'PP Editorial';
  src: url('/fonts/otf/PPEditorialOld-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('/fonts/otf/PPEditorialOld-UltralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('/fonts/otf/PPEditorialOld-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('/fonts/otf/PPEditorialOld-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('/fonts/otf/PPEditorialOld-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('/fonts/otf/PPEditorialOld-UltraboldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
} 